.director-view {
  margin: 30px;
}

.director-bio {
  margin: 10px 0px;
}

.director-card,
.director-moreMovies {
  border: 2px solid;
  margin-top: 10px;
}

.director-view-movies-flex {
  width: 50%;
  align-self: center;
}